<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dz.esi.restoya">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".start.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".start.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.start.SplashScreenActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".home.activities.ReservationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".home.activities.RestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".home.activities.FavoriteActivity"
            android:label="@string/title_activity_favorite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".home.activities.CollectionActivity"
            android:label="@string/title_activity_collections"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".home.activities.OrderActivity"
            android:label="@string/title_activity_order">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.RestaurantActivity" />
        </activity>
        <activity android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity android:name=".about.AboutActivity"
            android:label="@string/title_activity_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".home.activities.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".home.activities.RestaurantActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".home.activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dz.esi.restoya.home.activities.RestaurantActivity" />
        </activity>
    </application>

</manifest>